@media (min-width: 800px) {
    nav {
        display: block;
    }

    #menu {
        display: none;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .navigation li {
        display: block;
        font-size: 1.25rem;
        font-weight: bold;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .album {
        grid-template-columns: repeat(2, 1fr); /* Two columns for mid-sized screens */
    }
}

@media (min-width: 1025px) {
    .album {
        grid-template-columns: repeat(3, 1fr); /* Three columns for wide screens */
        max-width: 1200px;
    }
}